
#gradientBGheader {
  background: linear-gradient(-45deg, gray, rgb(6, 137, 177), lightblue, steelblue);
  background-size: 400% 400%;
  animation: gradientAnimated 15s ease infinite;
}

@keyframes gradientAnimated {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


div.headerImage{
  width:80%;
  text-align:center;
  padding:2px;
  /*margin:0, auto;*/ 
  /*!!!!NO COMA!!! between margin values*/
  /*Spent hours trying to solve the issue of div centering because of this!!!*/
  margin: 0 auto; 
  background-image:url("../images/mediterranean-food.jpg");
  /* adding ../ (dot dot backslash) before folder name solved "image not found" issue */
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  background-blend-mode: lighten;        
  }

  
.headerText {
  width:80%;
  text-align:left;
  padding:2px;
  /*margin:0, auto;*/ 
  /*!!!!NO COMA!!! between margin values*/
  /*Spent hours trying to solve the issue of div centering because of this!!!*/
  margin: 5px auto; 
  /* top: 60%;
    left: 55%; */
    /* transform: translate(-50%, -50%); */
    color: black;
    }
  
  
  #para{
      width:80%;
      text-align:center;
      padding:2px;
      /*margin:0, auto;*/ 
      /*!!!!NO COMA!!! between margin values*/
      /*Spent hours trying to solve the issue of div centering because of this!!!*/
      margin: 5px auto; 
      border: 3px groove rgba(36, 105, 233, 0.781);
      border-radius: 15px;
      box-shadow: 0 0 5rem rgba(0, 0, 0, 0.5);
      /* syntax: box-shadow: none|h-offset v-offset blur spread color |inset|initial|inherit; */
      text-align:center;
      font-weight: 900;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
      background-image: linear-gradient(yellow, orangered);   
  }

  
  /* transition: [transition-property] [transition-duration] [transition-timing-function] [transition-delay];
  .element {
  transition: background-color 0.5s ease;
  } */

  #animatedBGbody{
      background-color:orange;
      animation: colorChange 10s linear infinite;
      /* border-radius: 15px; */
      margin: auto;
      text-align:center;
    }
    @keyframes colorChange {
      0%, 100% {background-color: orange;}
      25% {background-color: yellow;}
    }
  /* using keyframes percentage for smooth transition */


    /* #gradientBGbanner {
      background: linear-gradient(-45deg, rgba(128, 128, 128, 0.363), rgba(6, 137, 177, 0.432), rgba(173, 216, 230, 0.493), rgba(70, 131, 180, 0.466));
      background-size: 400% 400%;
      animation: gradientAnimatedbanner 15s ease infinite;
    }
    
    @keyframes gradientAnimatedbanner {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    } */

    .button{
      background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
      margin: 10px;
      border: 0;
      border-radius: 12px;
      color: #FFFFFF;
      cursor: pointer;
      display: inline-block; /*module2:task6.ii.e:display inline-block*/
      font-family: Helvetica,Arial,sans-serif;
      font-size: 16px;
      font-weight: 900;
      line-height: 2.5;
      /* outline: transparent; */
      padding: 0 1rem;
      text-align: center;
      text-decoration: none;
      transition: box-shadow .2s ease-in-out;
      /* user-select: none; */
      /* touch-action: manipulation; */
      /* white-space: nowrap; */
      }
  
    .button:not([disabled]):focus {
      box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
    }
  
    .button:not([disabled]):hover {
      box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
    }
  
    .imgsize{
      display: block;  /*module2:task6.ii.d: set display property to block*/
      margin-left: auto;
      margin-right: auto;
      width: 33vw;
      height: 40vh;
    }
  
    div h2{
      text-decoration: underline overline;
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
      font-style: oblique;
      font-weight: bolder;
      background: 30px #ff995a6c;
    }
    
      /* the banner background styles must be beneath banner image and banner text in order to show the banner image on top of the bg */
      #animatedBGbannerImage{
        background-color:lightblue;
        animation: colorChangeBanner 5s linear infinite;
        margin: auto;
        text-align:center;
        }
        @keyframes colorChangeBanner {
          0%, 100% {background-color: lightblue;}
          50% {background-color: lightsteelblue;}
        } */
        /* using keyframes percentage for smooth bg color transition*/
    